.account {
    height: calc(100% - 195px);
    display: flex;
    flex-direction: column;
}

.titoloAccount {
    width: 100%;
    height: 10%;
    margin-top: 20px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.informazioni {
    margin-bottom: 5px;
    margin-top: 5px;
    display: flex;
    border: 1px solid rgba(0,0,0, 40%);

}
.informazioni img{
    margin: 5px;
    width: 15vh;
    border-radius: 10px;
}

.cont_all {
    display: flex;
}
.divisore {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.bottoni {
    width: 10%;
    height: 100%;
    margin-left: 4%;
}
.scritte{
    margin-left: 5px;
    width: 100%;
}



.titolo{
    display: flex;
    align-items: center;
    text-shadow: 2px 2px 2px black;
    justify-content: space-between;


}
.titolo h2{
    font-size: 33px;
}

.cercaFilm{
    margin-bottom: 15px;
    color: whitesmoke;
    margin-left: 12.5%;
}
.cercaFilm input{

    width: 150px;
    height: 20px;
    border: none;
    border-bottom: 2px solid whitesmoke;
    background-color: transparent;
    color: white;
}

.cercaFilm input::placeholder{
    color: whitesmoke;
}

.cercaFilm input:focus{
    outline: none;
}

.tuttiRecensioni{
    width: 75%;
    color: whitesmoke;
}

.fa-xmark{
    color: whitesmoke;
    font-size: 20px;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
    margin-right: 5px;
}
.fa-xmark:hover{
    color: red;
}
.Contenitore {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
