.account {
    height: calc(100% - 230px);
    display: flex;
    flex-direction: column;
}

.titoloAccount {
    width: 100%;
    height: 10%;
    margin-top: 20px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.account img {
    margin-top: 20px;
    align-self: center;
}
.account h3{
    align-self: center;
}

.triangle {
    margin-top: 20px;
    border-top: 35px solid white;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    align-self: center;
    width: 0px;
    height: 0px;
}
#normal {
    transition: 2s;
    transition-delay: 2s;
}
#notnormal {
    transition: 2s;
    rotate: 0.5turn;
}

.infoAccount {
    width: 50%;
    align-self: center;
    height: 50%;
    background-color: white;
    overflow: hidden;
}

#visible {
    transition: 2s;
    transition-delay: 2s;
    height: 27%;
}
#notvisible {
    transition: 2s;
    height: 0px;
}
.info {
    margin-top: 10px;
    margin-left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
}

.info h1 {
    text-align: center;
}
