.account {
    height: calc(100% - 195px);
    display: flex;
    flex-direction: column;
}

.titoloAccount {
    width: 100%;
    height: 10%;
    margin-top: 20px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px black;
}



.divisore {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.bottoni{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.Contenitore {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#scarica{
    cursor: pointer;
    color: white;
}

#scarica:hover{
    color: forestgreen;
    transition: color 0.4s ease-in-out;
}
#scarica:not(hover){
    color: white;
    transition: color 0.4s ease-in-out;
}
#modifica{
    cursor: pointer;
}
#modifica:hover{
    color: orange;
    transition: color 0.4s ease-in-out;
}
#modifica:not(hover){
    color: white;
    transition: color 0.4s ease-in-out;
}

.scritte{
    margin-left: 5px;
    width: 70%;
}

.titolo{
    display: flex;
    align-items: center;
    text-shadow: 2px 2px 2px black;
}

.titolo h2{
    font-size: 33px;
}

.cercaFilm {
    margin-bottom: 15px;
    color: whitesmoke;
    margin-left: 25%;
}
.cercaFilm input{

    width: 150px;
    height: 20px;
    border: none;
    border-bottom: 2px solid whitesmoke;
    background-color: transparent;
    color: white;
}

.cercaFilm input::placeholder{
    color: whitesmoke;
}

.cercaFilm input:focus{
    outline: none;
}

.tuttiBiglietti {
    color: whitesmoke;
    width: 50%;
    height: auto;
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1px solid rgba(0,0,0, 40%);
}

.tuttiBiglietti img {
    margin: 5px;
    width: 9vh;
    border-radius: 10px;
}

.tuttituttiBiglietti {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}