/* Header */
.griglia_head {
    height:  100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo_head {
    width: 24%;
    margin-left: 1%;
}
.logo_head h1 a {
    font-weight: bold;
    color: red;
    text-decoration: none;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px black;
}
.bottone_head{
    width: 25%;
}
.bottone {
    background-color: lightyellow;
    font-size: 20px;
    border: 1px solid #0c0000;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    padding: 4px 20px 4px 20px;
    width: 100%;
}
.user_div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 25%;
}
.login_sigin {
    display: flex;
    width: auto;
    margin-right: 1%;
}
.icona_sign{
    display: flex;
    float: left;
    color: white;
    font-size: 27px;
    cursor: pointer;
    margin-right: 10px;
}
.tooltip {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: white;
}
.Benv_head {
    align-content: center;
}
.Benv_h1{
    color: white;
    font-size: 22px;
}
.icona{
    color: white;
    font-size: 34px;
}
.testoAccount{
    font-size: 20px;
    color: white;
}
.logout{
    color: white;
    font-size: 35px;
}
.testoLogout{
    font-size: 20px;
    color: white;
    float: left;
}
#cartItems{
    position: relative;
    width: 20px;
    text-align: center;
    background-color: red;
    color: black;
    border-radius: 100%;
    margin-left: calc(100% - 30px);
    top: -8px;
}
.carrello {
    margin-top: -14px;
    font-size: 30px;
}

/* Navbar*/

.navbar{
    width: 100%;
    height: 35px;
    font-size: 15px;
    text-align: center;
    background-color: black;
    flex-wrap: wrap;
    align-content: center;
}

ul{
    display: flex;
    justify-content: space-around;
}


li{
    list-style: none;
    display: inline-block;
    width: 200px;
}
li a{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/* Sezione Alert conferma Account */

#formConf{
    position: fixed;
    width: 300px;
    bottom: 5px;
    right: 15px;
    z-index: 1;
    display: flex;
    border: 2px solid #8930cf;
    background-color: rgba(231, 7, 237, 0.5);
    cursor: pointer;

}
#formConf h1{
    color: white;
    font-size: 20px;
    text-align: center;
}

.cerchio{
    color: red;
    cursor: pointer;
    font-size: 20px;
}