.titolo{
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    margin-top: 20px;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 5px black;
    margin-bottom: 20px;
}


.casella_film {
    width: 89.5%;
    margin-left: 10%;
    margin-right: 0.5%;
    box-sizing: border-box;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    display: flex;
    flex-direction: column;
    height: 500px;
}

.sez_sup {
    display: flex;
    margin-top: 15px;
    height: calc(50% - 15px);
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.Img {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    align-content: center;
    justify-content: center;
    margin-left: 15px;
}
.Info {
    width: 75%;
    text-align: left;
    height: fit-content;
    color: whitesmoke;
}
.Informazioni{
    display: flex;
    justify-content: center;
}
.Informazioni h1{
    text-shadow: 2px 2px 5px black;
    font-size: 30px;
}
.Info b {
    text-shadow: 2px 2px 5px black;
}
.Caratteristiche{
    margin-top: 10px;
}
.Caratteristiche h1{
    font-size: 15px;
}

.Caratteristiche h1 b{
    font-size: 20px;
}

#mediaUt{
    font-size: 20px;
    text-shadow: 2px 2px 5px black;
}

.sez_inf {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: calc(50% - 15px);
}

.Trama{
    width: 80%;
}
.Trama h1{
    color: white;
    font-size: 20px;
    text-align: justify;
    margin-left: 15px;
    margin-right: 15px;
}
#trama{
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    font-size: 25px;
}

.apri_Trailer {
    width: 15%;
    height: 20%;
    margin-left: 35px;
}

.contenutoImg{
    box-sizing: border-box;
    display: block;
    object-fit: contain;
    width: 75%;
    height: 100%;
}

.trailer-container{
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: black;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.4s;

}
.trailer-container iframe{
    position: relative;
    width: 70%;
    height: 60%;
    max-height: 900px;
    max-width: 900px;
    outline: none;

}

@media (max-width:991px){
    .trailer-container video{
        max-width: 90%;
    }
}


.apri_Trailer{

    background-color: whitesmoke;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.4s ease-in-out;
}

.apri_Trailer:hover{
    background-color: darkorange;
}

.close-icon{
    position: absolute;
    top:30px;
    right: 30px;
    color: white;
    font-size: 25px;
    transition: 1s;
}

.close-icon:hover{
    color: red;
    transition: 1s;
    rotate: 1turn;

}

.active.trailer-container{
    visibility: hidden;
    opacity: 0;
}

.contenitore {
    width: 100%;
    height: auto;
    display: flex;
}

.sinistra {
    width: 50%;
}
.destra {
    color: whitesmoke;
    width: 50%;
}
.textarea{
    padding: 5px 5px 0px 5px;
    background-color: rgba(0, 0, 0, 0.4);
    color: whitesmoke;

}

.bottoniRew{
    width: 120px;
    height: 40px;
    background: #591fc1;
    color: #fff;
    border-radius: 20px;
    outline: 0;
    cursor: pointer;
    margin-bottom: 10px;
    border: 1px solid black;
    transition: background-color 0.4s ease-in-out;
    margin-top: 10px;
}

#delete:hover{
    background-color: #a80505;
}
#modify:hover{
    background-color: green;
}

.casella_recensione {
    width: 89.5%;
    margin-left: 0.5%;
    margin-right: 10%;
    box-sizing: border-box;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    height: 500px;
}
#Titolo {

    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 10%;
    text-shadow: 2px 2px 5px black;
    color: whitesmoke;

}
.scriviRecensione {
    height: 80%;
    display: flex;
    flex-direction: column;
}
#inputTitolo {
    height: 10%;
    margin-top: 2%;
}
#inputTitolo input {
    color: whitesmoke;
    background: transparent;
    border: white 1px solid;
    height: 100%;
    width: 80%;
    font-size: 30px;
}
#inputTitolo input::placeholder{
    color: whitesmoke;
}
#inputTitolo h1 {
    height: 100%;
    width: 100%;
    text-align: center;
}
#inputTesto {
    margin-top: 5px;
    width: 100%;
    height: 60%;
}

#inputTesto * {
    width: 95%;
    height: 95%;
    font-size: 20px;
}
.btn-filed1 {
    margin-top: 10px;
}
.btn-filed1 * {
    width: 120px;
    height: 40px;
    background: #591fc1;
    color: #fff;
    border-radius: 20px;
    outline: 0;
    cursor: pointer;
    margin-bottom: 10px;
    border: 1px solid black;
    transition: background-color 0.4s ease-in-out;
}

.btn-filed1 *:hover{
    background-color: green;
}

#nologged {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.buttons {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}

.buttons button {
    width: 20%;
    height: 80%;
}
.recensione {
    color: whitesmoke;
    width: 50%;
    height: auto;
    margin-left: 25%;
    background-color: rgba(0,0,0,0.3);
    margin-bottom: 20px;
    margin-top: 20px;
}
#TitoloRec{
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
    text-shadow: 2px 2px 5px black;
    color: whitesmoke;
    font-size: 25px;
}
.recensione h1{
    text-shadow: 2px 2px 5px black;
    color: whitesmoke;
    font-size: 25px;
}
.recensione * {
    margin-left: 5px;
}
.titolo_recensione {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.titolo_recensione h1 {
    margin-left: 5px;
}
.titolo_recensione .starContainer {
    margin-left: auto;
    margin-right: 10px;
}
.mediaUtenti {
    position: relative;
    display: flex;
    align-items: center;
}

.testo_recensione{
    margin-top: 5px;
    padding-bottom: 10px;
}
#media-1 {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 90px;
}
#media-2 {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 90px;
    overflow: hidden;
}

#recensione_media {
    margin-left: 5px;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}
#media-1-2 {
    color: #fd4;
}
#media-2-2 {
    color: #fd4;
}
#media-3-2 {
    color: #fd4;
}
#media-4-2 {
    color: #fd4;
}
#media-5-2 {
    color: #fd4;
}