main{
    margin-top: 20px;
}

#divFind{
    width: 620px;
    margin-left: calc(100% - 650px);
    color: white;
    display: flex;
    margin-top: 10px;
    align-items: center;

}
#testoFind {
    width: 400px;
    font-size: 25px;
    font-weight: bold;
}
#formFind{
    width: 220px;
    color: white;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
}

input[type="search"] {
    border: none;
    background: none;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
}

input[type="search"]::placeholder {
    color: #bbb;
}

.search[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid;
    border-color: #ffffff;
    border-radius: inherit;
    background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
    color: white;
}


.butFind[type="submit"]:hover {
    opacity: 1;
}

.butFind[type="submit"]:focus, input[type="search"]:focus {
    outline: none;

}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    background-color: red;
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

/* IN SALA */

.inSala h1 {
    color: white;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px black;
}

/* sezione Home - Visualizza Film */

.griglia {
    margin-top: 1%;
    display: flex;
    justify-content: space-around;
}
.casella_film {
    width: 45%;
    box-sizing: border-box;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-height: 450px;
}
.sez_sup {
    display: flex;
    margin-top: 15px;
    height: calc(50% - 15px);
}
.Img {
    width: 30%;
    margin-left: 15px;
}
.Title_Description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(80% - 45px);
    margin-left: 15px;
}
.Title {
    height: 30%;
    color: white;
}
.Title a{
    color: white;
}
.Title a:active{
    color: white;
}
.Title a:visited {
    color: white;
}
.Info {
    height: 70%;
    text-align: left;
    color: #dddbdb;
}
.Info b{
    text-shadow: 2px 2px 5px black;
}
.sez_inf {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: calc(50% - 15px);
}
.proiezioni {
    margin-bottom: 5px;
    width: 80%;
    height: auto;
}
.proiezione {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.proiezioni h1 {
    margin-bottom: 20px;
    color: white;
}
.proiezione h1 {
    margin-left: 15%;
    font-size: 20px;
    color: #bdb5b5;
}
.proiezione button {
    padding: 11px;
    border-radius: 30%;
    background-color: darkorange;
    color: black;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.proiezione button:hover{
    background-color: green;
}

.apri_Trailer {
    width: 20%;
    height: 20%;
    margin-left: 15px;
    margin-top: 15px;
}
.contenutoImg{
    box-sizing: border-box;
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.bottone_1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navdiv {
    height: 100%;
}

.navdiv ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.active {
    height: 100%;
}

.active a {
    display: block;
}



.casella_film .Img {
    width: 20%;
}

.casella_film .bottone_1 {
    margin-top: 10px;
}



#lat_button {
    position: absolute;
}

/* sezione Home - Visualizza Trailer */

.main-cointainer{

    max-width: 100%;
    margin-bottom: 15px;

}

.trailer-container{
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: black;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.4s;

}
.trailer-container iframe{
    position: relative;
    width: 70%;
    height: 60%;
    max-height: 900px;
    max-width: 900px;
    outline: none;

}

@media (max-width:991px){
    .trailer-container video{
        max-width: 90%;
    }
}


.apri_Trailer{

    background-color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;

}

.apri_Trailer:hover{
    background-color: orange;
}

.close-icon{
    position: absolute;
    top:30px;
    right: 30px;
    color: white;
    font-size: 25px;
    transition: 1s;
}

.close-icon:hover{
    color: red;
    transition: 1s;
    rotate: 1turn;

}

.active.trailer-container{
    visibility: hidden;
    opacity: 0;
}
.orari {
    margin-right: 15%;
    display: flex;
    flex-direction: column;
}
.inSala {
    display: flex;
    justify-content: center;
}
