main{
    width:100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.account {
    margin-top: 20px;
    height: calc(100% - 195px);
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.titoloAccount {
    width: 100%;
    height: 10%;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.contenitore{
    width: 90%;
}

.anteprima{
    display: flex;
    border: 1px solid white;
}

.sinistra{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sinistra h1{
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-top: 20px;

}

#campiForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
#campiForm input{

    color: white;
    margin-bottom: 10px;
    border: none;
    border-bottom: white 2px solid;
    background-color: transparent;
    width: 70%;
    height: 35px;
    font-size: 20px;
}

#trama{
    margin-top: 10px;
    width: 70%;
    height: 200px;
}

#campiForm input::placeholder {
    color: white;
}

#campiForm input:focus{
    outline: none;
}

#imgForm{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
#imgForm h1{
    font-size: 15px;
    margin-top: 0px;
}
#imgForm input::placeholder{
    color: white;
}

.destra{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destra h1{
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-top: 20px;
}

.campi{
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: space-evenly;
}

.campi img{
    width: 100%;
    margin-bottom: 20px;
    max-height: 350px;
}

#bottoneTrailer{

}

.immagineBut{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.informazioni{
    display: flex;
    flex-direction: column;
    width: 50%;
}
#infoTit{
    margin-top: 0px;
    margin-bottom:10px;
}
.informazioni div{
    display: flex;
    color: white;
    margin-bottom: 10px;
}

.informazioni div h1{
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 20px;
    margin-top: 0px;
    margin-right: 5px;
}
.informazioni div h2{
  font-size: 18px;
}
#tramaPre{
    margin-top: 20px;
    width: 100%;
    height: 200px;
}


/*Sezione */
.trailer-container{
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: black;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.4s;

}
.trailer-container iframe{
    position: relative;
    width: 70%;
    height: 60%;
    max-height: 900px;
    max-width: 900px;
    outline: none;

}

@media (max-width:991px){
    .trailer-container video{
        max-width: 90%;
    }
}


.apri_Trailer{

    background-color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;

}

.apri_Trailer:hover{
    background-color: orange;
}

.close-icon{
    position: absolute;
    top:30px;
    right: 30px;
    color: white;
    font-size: 25px;
    transition: 1s;
}

.close-icon:hover{
    color: red;
    transition: 1s;
    rotate: 1turn;

}

.active.trailer-container{
    visibility: hidden;
    opacity: 0;
}

#bottoneInv{

        margin-top: 20px;
        margin-bottom: 10px;
        width: 120px;
        height: 40px;
        background: #591fc1;
        color: #fff;
        border-radius: 20px;
        outline: 0;
        cursor: pointer;
        margin-bottom: 10px;
        border: 1px solid black;
        transition: background 0.4s;
        margin-left: calc(50% - 60px);
    }

#bottoneInv:hover{
        background: forestgreen;
        color: #fff;
}