
.contenitore {
    display: flex;
    width: 100%;
    height: calc(100% - 197px);
    margin-top: 20px;

}
.contenitore .container1 {
    width: 75%;
}
.contenitore aside {
    width: 25%;
}

.container {
    padding: 5px;
    margin-top:20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    margin-left: 5px;
    color: whitesmoke;
}

.ui {
    border: 0;
    box-shadow: 0 0 10px 0 rgba(149, 184, 209, .5);
    border-radius: 10px;
    width: 40%;
    margin: 0 auto;
    padding: 4%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(0, 0, 0);
}

.container-left {
    width: 50%;
}

.container-right {
    width: 50%;
    display: flex;
    align-items: center;
}


.card1 {
    margin: 0 auto;
    display: flex;
    flex: 1 1 33%;
    justify-content: center;
}
.testoAggiungi i {
    height: 50%;
}
.card-aggiungi{

    width: 275px;
    height: 180px;
    margin: 0 auto;
    background: darkgrey;
    border: 5px dashed black;
    border-radius: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
}



.intern {
    padding: 20px;
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(0,140,177,1) 35%, rgba(0,29,125,1) 100%);
    border: 1px solid;
    border-radius: 15px;
    width: 275px;
    height: 180px;
    border: black;
}

.approximation {
    margin-top: -10px;
    width: 30px;
    transform: rotate(90deg);
}

.chip {
    height: 40px;
    position: relative;
    left: 87%;
    bottom: 30px;
}

.card-number {
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
    display: flex;
    margin-top: 5px;
}

.card-holder {
    margin-top: 5px;
    color: whitesmoke;
}

.card label {
    font-size: .7rem;
}

.card-infos {
    margin-top: 10px;
    display: flex;
    width: 80%;
    justify-content: space-between;
    color: white;
    text-align: center;
}

#credit-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1.1rem;
    color: white;
    text-transform: uppercase;
}

.number-container, .name-container {
    display: flex;
    flex-direction: column;
}

.expiration-container, .cvv-container {
    width: 50%;
}

input {
    border: 0;
    border-radius: 5px;
    padding: 10px;
    background-color: #333333;
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    outline: 0;
    width: 90%;
}

input[type="text"]:focus {
    border: 1px solid #95B8D1;
}

input#valid-thru-text,input#cvv-text{
    width: 80%;
}

input[type="submit"] {
    width: 95%;
    background-color: #008cb1;
    cursor: pointer;
}

.infos-container {
    display: flex;
}

@media (max-width: 1024px) {
    .ui {
        flex-direction: column-reverse;
    }

    .container-left, .container-right {
        width: 100%;
    }
}
.scontrino * {
    background-color: white;
}
.scontrino {
    margin-left: 5px;
    width: calc(100% - 30px);
    height: auto;
    border: solid 10px;
    border-color: steelblue;
    border-radius: 20px;
    background-color: steelblue;
    margin-top: 10px;
}
.riepilogo {
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.scontrino .articoli {
    border-top: solid black;
    border-bottom: solid black;
}
.scontrino .ordine, .scontrino .ordine * {
    background-color: steelblue;
    color: black;
}
.scontrino .riepilogo .articoli .articolo {
    display: flex;
    justify-content: space-between;
    margin-left: 4px;
    margin-right: 4px;
}
.scontrino .riepilogo .articoli .subarticolo {
    margin-top: 4px;

}
.scontrino .totale {
    color: black;
    display: flex;
    justify-content: space-between;
    background-color: steelblue;
}
.scontrino .totale * {
    background-color: steelblue;
}

.container #testoMetodi{
    color: whitesmoke;
    height: 10%;
    width: 100%;
    text-shadow: 2px 2px 2px black;
}
.container .tutteCard {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 380px;

}
.container .tutteCard .card1 {
    margin-top: 20px;
}
.intern i {
    position: absolute;
    right: 10px;
    top: 10px;
    color: green;
    font-size: 20px;
}

.card-aggiungi i {
    position: unset;
    color: rgba(243, 239, 239, 0.6);
    border: 2.5px solid black;
    border-radius: 48%;
    font-size: 50px;
}

#acquistaForm{
    height: auto;
    width: auto;
    margin-top: 10px;
    background-color: steelblue;
}

#acquistaForm button{
    padding: 20px;
    border: 2px solid black;
    cursor: pointer;
    width: 100%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.testoCancella{

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

}

.testoCancella h8{

    font-size: 15px;
    color: rgba(142, 27, 27, 0.8);
    font-style: italic;

}

.testoCancella i{
    cursor: pointer;
    color: black
}

.subarticolo h3{
    color: rgb(102, 102, 102);
}
.sezioneAbbbonamenti {
    display: flex;
    flex-direction: row;
    align-content: center;

}
.sezioneAbbbonamenti div {
    display: flex;
    flex-direction: row;
    width: 60%;
}
.sezioneAbbbonamenti input {
    width: 20%;
    margin-left: 10%;
    cursor: pointer;
}
.sezioneAbbbonamenti input:hover {
    background-color: green;
    transition: background-color 0.5s ease;
}
input[type="button"] {
    background-color: steelblue;
    cursor: pointer;
}
#button_studente:hover {
    background-color: goldenrod;
    transition: background-color 0.5s ease;
}

.abbonamento h1{
    font-size: 25px;
    color: white;
}

.contieni-lati{
    display: flex;
}

.freccia a{
    color: white;
}
.freccia i{
    font-size: 25px;
}

#abbonamentoTesto{
    text-shadow: 2px 2px 2px black;
}